sudo: true
services:
    - docker

before_install:
    - docker info
    - docker version

    - docker build  -t behave  .

script:
    - cd test  &&  ./run-test.sh > result  &&  cd ..

    - echo "==> Validating the test results..."
    - grep '1 feature passed, 0 failed, 0 skipped'  test/result
